form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 0.5rem;
	align-items: center;
}

a {
	color: rgb(144, 202, 249);
}

.MuiAccordionDetails-root {
	display: flex;
	flex-direction: column;
}
